#register{
  margin-left: 1rem;
  margin-right: 1rem;
  display: inline-block;  
}


/* Header ================================= */

#register .header {
  padding: 1.5rem 0;
  display: flex;
  justify-content:space-between; 
}

#register .header a {
  padding: 0.6rem 0.8rem;
  font: 500 0.875rem "Poppins", sans-serif;
  color: #284263;
  border: 1px solid #284263;
  border-radius: 8px;
  transition: 0.2s;
}

#register .header a:hover {
  background: #DAE8F9;
}

/* Search ================================= */

#register .search {
  display: flex;
  justify-content: space-between;
}

#register .search input {
  width: 18rem ;
  height: 2.8rem;

  padding: 0 1.5rem;
  font: 400 0.875rem "Poppins", sans-serif;

  border: 1px solid #dcdce6;
  border-radius: 8px;
}

#register .search button {
  padding: 0.6rem 0.9rem;
  font: 500 0.875rem "Poppins", sans-serif;
  color: #FFF;
  background: #284263;
  border-radius: 8px;
  border: 1px solid #284263;
}

#register .search button:hover {
  background: #DAE8F9;
  color: #284263;
}


/* Table ================================= */

/*seleciona os 2 ultimos objetos (celulas da tabela)*/
#register table td:nth-last-child( -n+2) {
  width: 3rem;
}


/* Paginate ================================= */
/* --- CONFIGURAÇÃO ESTILO CONTROL PAGINATE --- */

#register .pagination{
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 2rem
}


#register .pagination div {
  margin-left: 1rem;
  margin-bottom: 2rem;
  width: 2.2rem;
  height: 2.2rem;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  font: 400 1.125rem "Poppins", sans-serif;
  color: #fff;

  background: #00BCD4;
  border-radius: 50px;
}


/* não aplica este estilo na class "numbers" */
#register .pagination div:not(.numbers) {
  color: #878787;
  background: #dcdce6;
}

#register .pagination div:not(.numbers):hover {
  filter: brightness(90%)
}


#register .notFound{
  display: none;
  margin-top: 3rem;
  text-align: center;
  font: 400 0.8rem "Poppins", sans-serif;
}

#register .notFound img{
  width: 15rem;
  margin-top: 40px;
}

/* ========================================== */
/* ============= MEDIA QUERIES ============== */
/* ========================================== */

/* ### --- --- --- --- --- --- --- --- --- --- --- ### */
/* ### --- medium large devices: mais de 670px --- ### */
/* ### --- --- --- --- --- --- --- --- --- --- --- ### */

@media(min-width: 670px) {

  /*--- ### SEARCH ### ---*/

  #register .search input {
    width: 27rem ;
 }

  /*--- ### CONTENT ### ---*/
  
  #register .content {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }

}

/* ### --- --- --- --- --- --- --- --- --- --- --- ### */
/* ### --- extra large devices: mais de 980px  --- ### */
/* ### --- --- --- --- --- --- --- --- --- --- --- ### */

@media(min-width: 980px) {

  /*--- ### HEADER ### ---*/

  #register .header a {
    margin-right: 3rem;
    padding: 0.9rem 1rem;
  }

  /*--- ### SEARCH ### ---*/

  #register .search {
    display: flex;
    justify-content:center;
    gap: 1rem
  }

  #register .search input {
    width: 30rem ;
  }

}